.movies-container {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
}
.movies-container img {
    height: 30rem; 
    border-radius: 1rem;
    min-width: 20rem;
    min-height: 10px;
}
.movie-container {
    position: relative;
}
.btnLike {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(161, 55, 10, .5);
    top: 230px;
    right: 35px;
    border: none;
    border-radius: 50%;
}

.btnLike::before {
    content: '🤍' ;
}
.btnLiked {
    background-color:rgba(161, 55, 10,1) ;
    box-shadow: 1px 1px 5px black;
}
.btnLiked::before {
    content: '❤️' ;
}
.btnLiked {
    background-color:rgba(161, 55, 10,1) ;
    box-shadow: 1px 1px 5px black;
}
.btnLiked::before {
    content: '❤️' ;
}